body {
  background-color: #222831;
}

div {
  color: #fff5e0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  text-align: center;
  color: rgb(113 113 122);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
